*

!.gitignore
!angular.json
!firebase.json
!package.json

!content
!content/navigation.json

!content/marketing
!content/marketing/docs.md
!content/marketing/index.html

!content/start
!content/start/*
!content/tutorial
!content/tutorial/*

!content/guide
!content/guide/component-overview.md
!content/guide/setup-local.md
!content/guide/what-is-angular.md
