*

!.gitignore
!angular.json
!firebase.json
!package.json

!content
!content/navigation.json

!content/marketing
!content/marketing/docs.md
!content/marketing/index.html

!content/start
!content/start/*
!content/tutorial
!content/tutorial/*

!content/guide
!content/guide/component-overview.md
!content/guide/localized-documentation.md
!content/guide/reviewing-content.md
!content/guide/setup-local.md
!content/guide/updating-content-github-ui.md
!content/guide/updating-search-keywords.md
!content/guide/what-is-angular.md

!src
!src/app

!src/app/layout
!src/app/layout/footer
!src/app/layout/footer/footer.component.html

!src/app/search
!src/app/search/search-box
!src/app/search/search-box/search-box.component.ts

!src/app/shared
!src/app/shared/theme-picker
!src/app/shared/theme-picker/theme-toggle.component.ts
